  <div class="container">
    <div class="row">
      <div class="float-left"></div>

        <h2>User info</h2>
          <div class="errmsg" >
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= @user.errors.count %> errors prohibited this obj from being saved:</h2>
                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          </div>

        <%= form_for(@user) do |f| %>

          <div class="form-group">
            <%= f.label :name, 'Name' %>
            <%= f.text_field :name %>
          </div>

          <div class="form-group">
            <%= f.label :profile_image, 'Image' %>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>

          </div>

          <div class="form-group">
            <%= f.label :introduction, 'Introduction' %>
            <%= f.text_area :introduction %>
          </div>

          <%= f.submit 'Update User' %>
        <% end %>
      </div>
  </div>


  <footer>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-3 col-xs-offset-9'>
        <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
